# Part I - Explanation of the problem and why it is interesting

## 1 - Problem

Indication: Clearly define a problem or an idea of your choice, where you would need to leverage the Foursquare location data to solve or execute. Remember that data science problems always target an audience and are meant to help a group of stakeholders solve a problem, so make sure that you explicitly describe your audience and why they would care about your problem.

Israel is a very specific place in the arabic world with very specific needs and demand. Since it is creation on the 14th of May 1948 after the vote by the ONU, it has been largely influenced by the international community and specifically the occidental culture.
Nevertheless, Isreal remains part of the Arabic world and is affected by its culture.

This combination of cultures makes the understanding of israely's culture and its consumption behaviour extremely difficult.

Several international companies would like to understand better this context to establish a strategy plan for implementation.

#### Nota bene: there is nothing politic about this notebook its purpose is purely scientific.

## 2 - Data

Indication: Describe the data that you will be using to solve the problem or execute your idea. Remember that you will need to use the Foursquare location data to solve the problem or execute your idea. You can absolutely use other datasets in combination with the Foursquare location data. So make sure that you provide adequate explanation and discussion, with examples, of the data that you will be using, even if it is only Foursquare location data.

We would like to benchmark Israel's capital Tel Aviv versus two well known cities to establish the consumption behaviour of its population.

For the benchmark, we have selected New York City and Amman for which we will be using Four Square's location data and compare the venues of the three cities in terms of shops, cafes, restaurant and so on. By establishing the profile in terms of venues in Four square we should be able to caracterise Tel Aviv and then compare it to AMman and New York City. We will then investigate the differences and conclude by identifying the best proxy.

Indeed, the number of venues will be divided by the population of each city to remain consistent.

If it happens that none of the two cities are close enough, we will iterate with other cities among the top 50 largest cities.

# Part II - Method to solve it

## 0 - Import of libraries

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [2]:
CLIENT_ID = 'DCPMWEGCH0C2PZR13QN0IB0KEJSDLZMIPARV415TX5Y52FQ1' # your Foursquare ID
CLIENT_SECRET = 'W3BY4ARSZPO4YLRLD4BHCEWHJKLZW5UJYHEHEVDPKVXGRZXX' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET: ' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: DCPMWEGCH0C2PZR13QN0IB0KEJSDLZMIPARV415TX5Y52FQ1
CLIENT_SECRET: W3BY4ARSZPO4YLRLD4BHCEWHJKLZW5UJYHEHEVDPKVXGRZXX

In [3]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# 1 - Exploration: Amman

In [7]:
address = 'Amman'

geolocator = Nominatim(user_agent="my access")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Amman are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Amman are 31.9515694, 35.9239625.

In [8]:
LIMIT = 1000 # limit of number of venues returned by Foursquare API

radius = 10000 # define radius in meters

# create URL

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    latitude, 
    longitude, 
    radius, 
    LIMIT)
results = requests.get(url).json()

In [9]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

,name,categories,lat,lng
0,Fakhr Al Din (مطعم فخر الدين),Middle Eastern Restaurant,31.952205,35.920381
1,Jo Bedu (جوبدو),Clothing Store,31.956443,35.926776
2,Mijana (ميجنا),Café,31.950485,35.925520
3,Rumi Cafe (مقهى رومي),Café,31.956113,35.925881
4,Falafel Al-Quds (فلافل القدس),Falafel Restaurant,31.949464,35.926499

In [10]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

100 venues were returned by Foursquare.

In [11]:
venues_grouped = nearby_venues.drop(['lat', 'lng'], axis=1).groupby('categories').count().sort_values(['name'], ascending=[False]).reset_index()
venues_grouped.rename(columns={'name':'count'}, inplace=True)
venues_grouped.head(10)

                  categories  count
0                       Café     12
1                      Hotel      8
2                Coffee Shop      6
3  Middle Eastern Restaurant      5
4         Italian Restaurant      5
5             Ice Cream Shop      4
6               Dessert Shop      4
7                        Pub      3
8              Historic Site      3
9                     Bakery      3

# 2 - Deploy the same analysis on other cities

In [4]:
# function that extracts the category of the venue
def collect_venues(address):
    geolocator = Nominatim(user_agent="my access")
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude

    LIMIT = 1000 # limit of number of venues returned by Foursquare API

    radius = 5000 # define radius in meters

    # create URL

    url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        CLIENT_ID, 
        CLIENT_SECRET, 
        VERSION, 
        latitude, 
        longitude, 
        radius, 
        LIMIT)
    results = requests.get(url).json()

    venues = results['response']['groups'][0]['items']
    
    nearby_venues = json_normalize(venues) # flatten JSON

    # filter columns
    filtered_columns = ['venue.name', 'venue.location.city', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
    nearby_venues =nearby_venues.loc[:, filtered_columns]

    # filter the category for each row
    nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

    # clean columns
    nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]
    
    # one hot encoding
    result_onehot = pd.get_dummies(nearby_venues[['categories']], prefix="", prefix_sep="")

    # add neighborhood column back to dataframe
    #result_onehot['Name'] = nearby_venues['name']
    result_onehot['City'] = address

    # move neighborhood column to the first column
    fixed_columns = [result_onehot.columns[-1]] + list(result_onehot.columns[:-1])
    result_onehot = result_onehot[fixed_columns]
    
    result_onehot = result_onehot.groupby('City').mean().reset_index()    

    return result_onehot

In [14]:
#Collect a dataframe with the 50 largest cities with
#largest_cities = ('Abidjan', 'Abu Dhabi', 'Abuja', 'Accra', 'Addis Ababa', 'Ahmedabad', 'Ahvaz', 'Alexandria', 'Algiers', 'Allahabad', 'Almaty', 'Ankara', 'Auckland', 'Baghdad', 'Baku', 'Bandung', 'Bangalore', 'Bangkok', 'Barcelona', 'Barranquilla', 'Basra', 'Beijing', 'Belgrade', 'Belo Horizonte', 'Berlin', 'Bhopal', 'Birmingham', 'Bogota', 'Brazzaville', 'Brisbane', 'Bucharest', 'Budapest', 'Buenos Aires', 'Bulawayo', 'Busan', 'Cairo', 'Calgary', 'Cali', 'Caloocan', 'Campinas', 'Cape Town', 'Caracas', 'Cartagena', 'Casablanca', 'Cebu City', 'Changchun', 'Changsha', 'Chaozhou', 'Chengdu', 'Chennai', 'Chicago', 'Chittagong', 'Chongqing', 'Cologne', 'Córdoba', 'Curitiba', 'Daegu', 'Daejeon', 'Dakar', 'Dalian', 'Dallas', 'Dar es Salaam', 'Davao City', 'Delhi', 'Dhaka', 'Dongguan', 'Douala', 'Dubai', 'Durban', 'Ekurhuleni', 'Faisalabad', 'Fez', 'Fortaleza', 'Foshan', 'Fukuoka', 'Fuzhou', 'Giza', 'Guadalajara', 'Guangzhou', 'Guatemala City', 'Guayaquil', 'Gujranwala', 'Gwangju', 'Hamburg', 'Hangzhou', 'Hanoi', 'Harare', 'Harbin', 'Havana', 'Hefei', 'Hiroshima', 'Ho Chi Minh City', 'Hong Kong', 'Houston', 'Hyderabad', 'Ibadan', 'Incheon', 'Isfahan', 'Islamabad', 'Istanbul', 'Izmir', 'Jaipur', 'Jakarta', 'Jeddah', 'Jinan', 'Johannesburg', 'Kabul', 'Kampala', 'Kano', 'Kanpur', 'Kaohsiung', 'Karaj', 'Kathmandu', 'Kawasaki', 'Kazan', 'Kharkiv', 'Khartoum', 'Kinshasa', 'Kobe', 'Kolkata', 'Kuala Lumpur', 'Kyiv', 'Kyoto', 'Lahore', 'Lanzhou', 'Lima', 'London', 'Los Angeles', 'Luanda', 'Lucknow', 'Lusaka', 'Madrid', 'Makassar', 'Managua', 'Manila', 'Maputo', 'Maracaibo', 'Mashhad', 'Medan', 'Medellin', 'Melbourne', 'Mexico City', 'Milan', 'Minsk', 'Monterrey', 'Montevideo', 'Montreal', 'Moscow', 'Multan', 'Mumbai', 'Munich', 'Nagoya', 'Nagpur', 'Nairobi', 'Nanjing', 'New Taipei City', 'New York', 'Ningbo', 'Nizhny Novgorod', 'Novosibirsk', 'Nur-Sultan', 'Omsk', 'Oran', 'Osaka', 'Ouagadougou', 'Palembang', 'Paris', 'Patna', 'Peshawar', 'Philadelphia', 'Phnom Penh', 'Phoenix', 'Porto Alegre', 'Prague', 'Pune', 'Pyongyang', 'Qingdao', 'Qom', 'Quanzhou', 'Quezon City', 'Quito', 'Rawalpindi', 'Recife', 'Rio de Janeiro', 'Riyadh', 'Rome', 'Rosario', 'Rostov-on-Don', 'Saint Petersburg', 'Saitama', 'Salvador', 'San Antonio', 'San Diego', 'Sana a', 'Santa Cruz de la Sierra', 'Santiago', 'São Paulo', 'Sapporo', 'Semarang', 'Seoul', 'Shanghai', 'Shantou', 'Shenzhen', 'Shijiazhuang', 'Shiraz', 'Singapore', 'Sofia', 'Surabaya', 'Surat', 'Suwon', 'Suzhou', 'Sydney', 'Tabriz', 'Taichung', 'Tainan', 'Taipei', 'Tangshan', 'Taoyuan', 'Tashkent', 'Tehran', 'Tel Aviv', 'Tianjin', 'Tijuana', 'Tokyo', 'Toronto', 'Tripoli', 'Ulsan', 'Vienna', 'Vijayawada', 'Visakhapatnam', 'Warsaw', 'Wenzhou', 'Wuhan', 'Xi an', 'Xiamen', 'Yangon', 'Yaoundé', 'Yekaterinburg', 'Yerevan', 'Yokohama', 'Zhengzhou', 'Zhongshan', 'Zunyi')

largest_cities = ('Abidjan', 'Abu Dhabi', 'Abuja', 'Accra', 'Addis Ababa', 'Ahmedabad', 'Ahvaz', 'Alexandria', 'Algiers', 'Allahabad', 'Almaty', 'Ankara', 'Auckland', 'Baghdad', 'Baku', 'Bandung', 'Bangalore', 'Bangkok', 'Barcelona', 'Barranquilla', 'Basra', 'Beijing', 'Belgrade', 'Belo Horizonte', 'Berlin', 'Bhopal', 'Birmingham', 'Bogota', 'Brazzaville', 'Brisbane', 'Bucharest', 'Budapest', 'Buenos Aires', 'Bulawayo', 'Busan', 'Cairo', 'Calgary', 'Cali', 'Caloocan', 'Campinas', 'Cape Town', 'Caracas', 'Cartagena', 'Casablanca', 'Cebu City', 'Changchun', 'Changsha', 'Chaozhou', 'Chengdu', 'Chennai', 'Chicago', 'Chittagong', 'Chongqing', 'Cologne', 'Córdoba', 'Curitiba', 'Daegu', 'Daejeon', 'Dakar', 'Dalian', 'Dallas', 'Dar es Salaam', 'Davao City', 'Delhi', 'Dhaka', 'Dongguan', 'Douala', 'Dubai', 'Durban', 'Ekurhuleni', 'Faisalabad', 'Fez', 'Fortaleza', 'Foshan', 'Fukuoka', 'Fuzhou', 'Giza', 'Guadalajara', 'Guangzhou', 'Guatemala City', 'Guayaquil', 'Gujranwala', 'Gwangju', 'Hamburg', 'Hangzhou', 'Hanoi', 'Harare', 'Harbin', 'Havana', 'Hefei', 'Hiroshima', 'Ho Chi Minh City', 'Hong Kong', 'Houston', 'Hyderabad', 'Ibadan', 'Incheon', 'Isfahan', 'Islamabad', 'Istanbul', 'Izmir', 'Jaipur', 'Jakarta', 'Jeddah', 'Jinan', 'Johannesburg', 'Kabul', 'Kampala', 'Kano', 'Kanpur', 'Kaohsiung', 'Karaj', 'Kathmandu', 'Kawasaki', 'Kazan', 'Kharkiv', 'Khartoum', 'Kinshasa', 'Kobe', 'Kolkata', 'Kuala Lumpur', 'Kyiv', 'Kyoto', 'Lahore', 'Lanzhou', 'Lima', 'London', 'Los Angeles', 'Luanda', 'Lucknow', 'Lusaka', 'Madrid', 'Makassar', 'Managua', 'Manila', 'Maputo', 'Maracaibo', 'Mashhad', 'Medan', 'Medellin', 'Melbourne', 'Mexico City', 'Milan', 'Minsk', 'Monterrey', 'Montevideo', 'Montreal', 'Moscow', 'Multan', 'Mumbai', 'Munich', 'Nagoya', 'Nagpur', 'Nairobi', 'Nanjing', 'New Taipei City', 'New York', 'Ningbo', 'Nizhny Novgorod', 'Novosibirsk', 'Nur-Sultan', 'Omsk', 'Oran', 'Osaka', 'Ouagadougou', 'Palembang', 'Paris', 'Patna', 'Peshawar', 'Philadelphia', 'Phnom Penh', 'Phoenix', 'Porto Alegre', 'Prague', 'Pune', 'Pyongyang', 'Qingdao', 'Qom', 'Quanzhou', 'Quezon City', 'Quito', 'Rawalpindi', 'Recife', 'Rio de Janeiro', 'Riyadh', 'Rome', 'Rosario', 'Rostov-on-Don', 'Saint Petersburg', 'Saitama', 'Salvador', 'San Antonio', 'San Diego', 'Sana a', 'Santa Cruz de la Sierra', 'Santiago', 'São Paulo', 'Sapporo', 'Semarang', 'Seoul', 'Shanghai', 'Shantou', 'Shenzhen', 'Shijiazhuang', 'Shiraz', 'Singapore', 'Sofia', 'Surabaya', 'Surat', 'Suwon', 'Suzhou', 'Sydney', 'Tabriz', 'Taichung', 'Tainan', 'Taipei', 'Tangshan', 'Taoyuan', 'Tashkent', 'Tehran', 'Tel Aviv', 'Tianjin', 'Tijuana', 'Tokyo', 'Toronto', 'Tripoli', 'Ulsan', 'Vienna', 'Vijayawada', 'Visakhapatnam', 'Warsaw', 'Wenzhou', 'Wuhan', 'Xi an', 'Xiamen', 'Yangon', 'Yaoundé', 'Yekaterinburg', 'Yerevan', 'Yokohama', 'Zhengzhou', 'Zhongshan', 'Zunyi')

In [12]:
result = pd.DataFrame()

global_df = pd.DataFrame()

for i, city in enumerate(largest_cities):
    print(city)
    result = collect_venues(city)
    global_df = global_df.append(result, sort=True)

global_df.fillna(0, inplace=True)
global_df.set_index('City', inplace=True)
global_df.head()

Abidjan
Abu Dhabi
Abuja
Accra
Addis Ababa
Ahmedabad
Ahvaz
Alexandria
Algiers
Allahabad
Almaty
Ankara
Auckland
Baghdad
Baku
Bandung
Bangalore
Bangkok
Barcelona
Barranquilla
Basra
Beijing
Belgrade
Belo Horizonte
Berlin
Bhopal
Birmingham
Bogota
Brazzaville
Brisbane
Bucharest
Budapest
Buenos Aires
Bulawayo
Busan
Cairo
Calgary
Cali
Caloocan
Campinas
Cape Town
Caracas
Cartagena
Casablanca
Cebu City
Changchun
Changsha
Chaozhou
Chengdu
Chennai
Chicago
Chittagong
Chongqing
Cologne
Córdoba
Curitiba
Daegu
Daejeon
Dakar
Dalian
Dallas
Dar es Salaam
Davao City
Delhi
Dhaka
Dongguan
Douala
Dubai
Durban
Ekurhuleni
Faisalabad
Fez
Fortaleza
Foshan
Fukuoka
Fuzhou
Giza
Guadalajara
Guangzhou
Guatemala City
Guayaquil
Gujranwala
Gwangju
Hamburg
Hangzhou
Hanoi
Harare
Harbin
Havana
Hefei
Hiroshima
Ho Chi Minh City
Hong Kong
Houston
Hyderabad
Ibadan
Incheon
Isfahan
Islamabad
Istanbul
Izmir
Jaipur
Jakarta
Jeddah
Jinan
Johannesburg
Kabul
Kampala
Kano
Kanpur
Kaohsiung
Karaj
Kathmandu
Kawasaki
Kazan
Kharkiv
Khartoum
Kinshasa
Kobe
Kolkata
Kuala Lumpur
Kyiv
Kyoto
Lahore
Lanzhou
Lima
London
Los Angeles
Luanda
Lucknow
Lusaka
Madrid
Makassar
Managua
Manila
Maputo
Maracaibo
Mashhad
Medan
Medellin
Melbourne
Mexico City
Milan
Minsk
Monterrey
Montevideo
Montreal
Moscow
Multan
Mumbai
Munich
Nagoya
Nagpur
Nairobi
Nanjing
New Taipei City
New York
Ningbo
Nizhny Novgorod
Novosibirsk
Nur-Sultan
Omsk
Oran
Osaka
Ouagadougou
Palembang
Paris
Patna
Peshawar
Philadelphia
Phnom Penh
Phoenix
Porto Alegre
Prague
Pune
Pyongyang
Qingdao
Qom
Quanzhou
Quezon City
Quito
Rawalpindi
Recife
Rio de Janeiro
Riyadh
Rome
Rosario
Rostov-on-Don
Saint Petersburg
Saitama
Salvador
San Antonio
San Diego
Sana a
Santa Cruz de la Sierra
Santiago
São Paulo
Sapporo
Semarang
Seoul
Shanghai
Shantou
Shenzhen
Shijiazhuang
Shiraz
Singapore
Sofia
Surabaya
Surat
Suwon
Suzhou
Sydney
Tabriz
Taichung
Tainan
Taipei
Tangshan
Taoyuan
Tashkent
Tehran
Tel Aviv
Tianjin
Tijuana
Tokyo
Toronto
Tripoli

In [30]:
k_means = KMeans(init = "k-means++", n_clusters = 40, n_init = 40)
k_means.fit(global_df)
k_means_labels = k_means.labels_
results = pd.DataFrame(columns=('City', 'Label'))
results['City'] = largest_cities
results['Label'] = k_means_labels
results

                        City  Label
0                    Abidjan      7
1                  Abu Dhabi      2
2                      Abuja      0
3                      Accra      0
4                Addis Ababa     20
5                  Ahmedabad      8
6                      Ahvaz     30
7                 Alexandria     29
8                    Algiers     30
9                  Allahabad     19
10                    Almaty     18
11                    Ankara     29
12                  Auckland     26
13                   Baghdad      5
14                      Baku     26
15                   Bandung     16
16                 Bangalore      8
17                   Bangkok     37
18                 Barcelona      3
19              Barranquilla      0
20                     Basra     20
21                   Beijing     14
22                  Belgrade      0
23            Belo Horizonte      0
24                    Berlin     29
25                    Bhopal      8
26                Birmingham     29
27                    Bogota      0
28               Brazzaville     24
29                  Brisbane     26
30                 Bucharest     18
31                  Budapest      0
32              Buenos Aires      0
33                  Bulawayo      1
34                     Busan     31
35                     Cairo     14
36                   Calgary      0
37                      Cali      0
38                  Caloocan     33
39                  Campinas      0
40                 Cape Town     26
41                   Caracas      0
42                 Cartagena      0
43                Casablanca     26
44                 Cebu City     26
45                 Changchun     32
46                  Changsha     10
47                  Chaozhou     36
48                   Chengdu      6
49                   Chennai      8
50                   Chicago     23
51                Chittagong      5
52                 Chongqing     10
53                   Cologne     14
54                   Córdoba     34
55                  Curitiba     29
56                     Daegu     31
57                   Daejeon     31
58                     Dakar      3
59                    Dalian      6
60                    Dallas     23
61             Dar es Salaam     30
62                Davao City     29
63                     Delhi      8
64                     Dhaka     26
65                  Dongguan     17
66                    Douala     39
67                     Dubai      3
68                    Durban     26
69                Ekurhuleni      5
70                Faisalabad     19
71                       Fez     30
72                 Fortaleza     29
73                    Foshan     32
74                   Fukuoka     22
75                    Fuzhou     10
76                      Giza     14
77               Guadalajara     23
78                 Guangzhou      6
79            Guatemala City     26
80                 Guayaquil     26
81                Gujranwala     28
82                   Gwangju     31
83                   Hamburg     14
84                  Hangzhou      6
85                     Hanoi      6
86                    Harare      5
87                    Harbin      6
88                    Havana      3
89                     Hefei     32
90                 Hiroshima      4
91          Ho Chi Minh City     15
92                 Hong Kong      3
93                   Houston     23
94                 Hyderabad      8
95                    Ibadan     19
96                   Incheon     31
97                   Isfahan     30
98                 Islamabad     12
99                  Istanbul     14
100                    Izmir     29
101                   Jaipur     20
102                  Jakarta      3
103                   Jeddah     18
104                    Jinan     10
105             Johannesburg     26
106                    Kabul     30
107                  Kampala     30
108                     Kano      3
109                   Kanpur      5
110                Kaohsiung     16
111                    Karaj     26
112                Kathmandu     26
113                 Kawasaki      4
114                    Kazan     18
115                  Kharkiv     18
116                 Khartoum     30
117                 Kinshasa     30
118                     Kobe     26
119                  Kolkata      8
120             Kuala Lumpur      3
121                     Kyiv     14
122                    Kyoto      4
123                   Lahore      0
124                  Lanzhou     10
125                     Lima     29
126                   London      3
127              Los Angeles     23
128                   Luanda      0
129                  Lucknow      8
130                   Lusaka     30
131                   Madrid      0
132                 Makassar     16
133                  Managua     23
134                   Manila     33
135                   Maputo     30
136                Maracaibo     29
137                  Mashhad     30
138                    Medan     16
139                 Medellin     29
140                Melbourne     26
141              Mexico City     23
142                    Milan     14
143                    Minsk     18
144                Monterrey     23
145               Montevideo      0
146                 Montreal     26
147                   Moscow     14
148                   Multan      5
149                   Mumbai      8
150                   Munich     30
151                   Nagoya      4
152                   Nagpur     29
153                  Nairobi     30
154                  Nanjing      6
155          New Taipei City     18
156                 New York     23
157                   Ningbo     10
158          Nizhny Novgorod     14
159              Novosibirsk     18
160               Nur-Sultan     26
161                     Omsk     18
162                     Oran     30
163                    Osaka      4
164              Ouagadougou     35
165                Palembang     16
166                    Paris      0
167                    Patna     30
168                 Peshawar      3
169             Philadelphia     23
170               Phnom Penh      3
171                  Phoenix     23
172             Porto Alegre     29
173                   Prague     14
174                     Pune      8
175                Pyongyang     13
176                  Qingdao     10
177                      Qom     30
178                 Quanzhou     10
179              Quezon City     29
180                    Quito      0
181               Rawalpindi     39
182                   Recife     29
183           Rio de Janeiro     29
184                   Riyadh     18
185                     Rome      0
186                  Rosario      0
187            Rostov-on-Don     18
188         Saint Petersburg     14
189                  Saitama     22
190                 Salvador     25
191              San Antonio      3
192                San Diego     23
193                   Sana a     20
194  Santa Cruz de la Sierra      0
195                 Santiago     18
196                São Paulo     29
197                  Sapporo      4
198                 Semarang     16
199                    Seoul     14
200                 Shanghai      3
201                  Shantou     27
202                 Shenzhen      6
203             Shijiazhuang     38
204                   Shiraz     30
205                Singapore      3
206                    Sofia     29
207                 Surabaya     16
208                    Surat      8
209                    Suwon     31
210                   Suzhou      6
211                   Sydney     26
212                   Tabriz     29
213                 Taichung      3
214                   Tainan     29
215                   Taipei      3
216                 Tangshan     11
217                  Taoyuan      6
218                 Tashkent     26
219                   Tehran     29
220                 Tel Aviv     26
221                  Tianjin      6
222                  Tijuana     23
223                    Tokyo      4
224                  Toronto     29
225                  Tripoli     21
226                    Ulsan     31
227                   Vienna      0
228               Vijayawada      8
229            Visakhapatnam      8
230                   Warsaw     23
231                  Wenzhou      6
232                    Wuhan     10
233                    Xi an     38
234                   Xiamen      6
235                   Yangon      9
236                  Yaoundé     39
237            Yekaterinburg     18
238                  Yerevan     30
239                 Yokohama     33
240                Zhengzhou     10
241                Zhongshan     32
242                    Zunyi     20

In [11]:
result = collect_venues('Shenyang')